[Unit]
Description=Workaround to relabel libvirt files and directories
ConditionPathIsDirectory=/var/lib/libvirt/
After=local-fs.target

[Service]
Type=oneshot
ExecStart=-/usr/sbin/restorecon -Rv /var/lib/libvirt/
ExecStart=-/usr/sbin/restorecon -Rv /var/log/libvirt/
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
