[Unit]
Description=Ensure /var/log/audit is present
DefaultDependencies=no
After=local-fs.target
Before=auditd.service

[Service]
Type=oneshot
ExecStartPre=mkdir -p -m 0700 /var/log/audit
ExecStart=restorecon -v /var/log/audit
RemainAfterExit=yes

[Install]
WantedBy=auditd.service