[Unit]
Description=Ensure /var/log/audit is present
Before=auditd.service

[Service]
Type=oneshot
ExecStart=mkdir -p -m 0700 /var/log/audit

[Install]
WantedBy=multi-user.target